<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERROR</title>
    <style>
        a:link, a:visited{
               color: #039;
               display: inline-block;
               text-decoration: none;
               text-transform: uppercase;
               letter-spacing: 1px;
               margin: 10px 15px;
               padding: 10px 15px;
               font-size: 15px;
               font-weight: bold;
               font-family: 'Montserrat', sans-serif;
               transition: 0.4s ease-in-out;
                }
    </style>
</head>
<body>
<a href="../" style="text-align: center;">Main</a>
    {% if current_user.is_authenticated %}
        <a href="/profile/{{current_user.id}}">{{ current_user.name }}</a>
        <a class="navbar-brand" href="/logout" style="margin:0px 0px; padding:0px 0px; font-size: 11px;">Logout</a>
    {% else %}
        <p>
            <a class="btn btn-primary " href="/register">Register</a>
            <a class="btn btn-success" href="/login">Sign up</a>
        </p>
    {% endif %}
    <h1>АШЫБКА</h1>
</body>
</html>